{% extends 'partials/base.html.twig' %}

{% block content %}

	{% macro createSelectEntry(selected, value) %}
		{% if selected == "true"  %}
			<option value="{{ value }}" selected="selected">{{ value }}</option>
		{% else %}			
			<option value="{{ value }}">{{ value }}</option>
		{% endif %}
	{% endmacro %}

	<div class="page-artwork">
		<h2>{{ page.header.title }}</h2>
		{% set currentYear = "now"|date("Y") %}	
		{% set yearURLparam = uri.query('year') %}

		{% if not yearURLparam %}
			{% set yearURLparam = "ALL" %}
		{% endif %}
		
		<label for="year">YEAR:</label>
		<select id="year">
			{% if yearURLparam == "ALL"  %}		
				{{ _self.createSelectEntry("true", "ALL") }}
			{% else %}	
				{{ _self.createSelectEntry("false", "ALL") }}
			{% endif %}

			{% for i in range(currentYear, page.header.ano_inicial) %}    	
	    		{% if i == yearURLparam  %}		
					{{ _self.createSelectEntry("true", i) }}
				{% else %}	
					{{ _self.createSelectEntry("false", i) }}
				{% endif %}
			{% endfor %}
		</select>

		{% set counter = 0 %}	
		
		{% for img in page.media.images %}	    
			{% if img.ano == yearURLparam or yearURLparam == "ALL"%}
			    {% set counter = counter + 1 %}
		    {% endif %}
		{% endfor %} 

  		<section class="container">
  			{% if counter == 0 %}
		    	<h4>No results found for that year</h4>
			{% else %}			
	            <ul id="da-thumbs" class="da-thumbs">
				{% for img in page.media.images %}	    
				    {% if img.ano == yearURLparam or yearURLparam == "ALL"%}
					<li>
						<a href="{{ img.url }}">
						<img src="{{ theme_url }}/images/loading_spinner.gif" alt="" data-echo="{{ img.crop(0,0,300, 300).url }}">
						<div class="texto">
							<p class="description">{{ img.descricao }}</p>
						</div>
						</a>
					</li>
				    {% endif %}
				{% endfor %}            	
	            </ul>
			{% endif %}
        </section>		
		{{ page.content }}
	</div>
	<script type="text/javascript">
	
		$(document).ready(function() {
			// Initializes the hoverdir stuff
			$(' #da-thumbs > li ').hoverdir();

			// Initializes the lazy-load library
		    echo.init({
		        offset: 100,
		        throttle: 250,
		        unload: false
		    });
		});	
	</script>
{% endblock %}