{% extends 'partials/base.html.twig' %}

{% block content %}

{{ dump(uri) }}
	<div class="page-artwork">
		<div class="intro">
		<p>{{ page.header.title }}</p>
		{% set yearURLparam = uri.query('year') %}

		{% if not yearURLparam %}
			{% set yearURLparam = "ALL" %}
		{% endif %}
		
		{# <label for="year">YEAR:</label> #}

		{% if yearURLparam  == "ALL" %}	
			<a class="selected" href="{{ uri.path }}">All</a>
		{% else %}	
			<a href="{{ uri.path }}">All</a>
		{% endif %}

		{% for ano in page.header.anos %}    	
    		{% if ano == yearURLparam  %}	
    			<a class="selected" href="#">{{ ano }}</a>	
			{% else %}	
				<a href="{{ uri.path }}?year={{ ano }}">{{ ano }}</a>	
			{% endif %}
		{% endfor %}
	
		{% set counter = 0 %}	
		{% set imgList =[] %}

		{% for img in page.media.images %}								    
			{% if img.ano == yearURLparam or yearURLparam == "ALL"%}
			    {% set counter = counter + 1 %}
		    {% endif %}
		{% endfor %} 
		</div>

  		<section class="container">
  			{% if counter == 0 %}
		    	<h4>No results found for that year</h4>
			{% else %}			
	            <ul id="da-thumbs" class="da-thumbs">
				{% for img in page.media.images %}	    
				    {% if img.ano == yearURLparam or yearURLparam == "ALL"%}
					<li>
						<a href="{{ img.url }}" title="{{ img.descricao }}">
						{# <img src="{{ theme_url }}/images/loading_spinner.gif" alt="" data-echo="{{ img.crop(0,0,300, 300).url }}"> #}
						<img src="{{ theme_url }}/images/loading_spinner.gif" alt="" data-echo="{{ img.cropResize(600, 600).url }}">
						<div class="texto">
							<p class="description">{{ img.descricao }}</p>
						</div>
						</a>
					</li>
				    {% endif %}
				{% endfor %}            	
	            </ul>
			{% endif %}
        </section>		
		{{ page.content }}
	</div>
	
{% endblock %}