{% embed 'partials/base.html.twig' %}
	{% set collection = page.collection() %}
	{% block content %}			
		{% for page in collection %}			
			{% if page.date|date("Y") == "2015" %}
		    <div class="exhibition-item">
		    	<hr>
			    <div class="image">
			        {{ page.media.images|first.cropZoom(300,300).html }}
			    </div>
			    <div class="text">
			        <p class="title">{{ page.title }}</p>
			        <p class="date">{{ page.date|date("d/M/Y") }}</p>
			        <p class="summary">{{ page.content|truncate(350) }}</p>
			        <p class="continue"><a href="{{ page.url }}">Continue Reading...</a></p>
				</div>
			</div>
	    {% endif %}
	    {% endfor %}

        {% if config.plugins.pagination.enabled and collection.params.pagination %}
            {% include 'partials/pagination.html.twig' with {'pagination':collection.params.pagination} %}
        {% endif %}
	{% endblock %}

{% endembed %}


