{% embed 'partials/base.html.twig' %}
	
	{% set collection = page.collection() %}

	{% block content %}		

	{% macro createSelectEntry(selected, value) %}
		{% if selected == "true"  %}
			<option value="{{ value }}" selected="selected">{{ value }}</option>
		{% else %}			
			<option value="{{ value }}">{{ value }}</option>
		{% endif %}
	{% endmacro %}

	<div class="page-exhibitions">
		<h2>{{ page.header.title }}</h2>
		{% set currentYear = "now"|date("Y") %}	
		{% set yearURLparam = uri.query('year') %}

		{% if not yearURLparam %}
			{% set yearURLparam = "ALL" %}
		{% endif %}
		
		<label for="year">YEAR:</label>
		<select id="year">
			{% if yearURLparam == "ALL"  %}		
				{{ _self.createSelectEntry("true", "ALL") }}
			{% else %}	
				{{ _self.createSelectEntry("false", "ALL") }}
			{% endif %}

			{% for i in range(currentYear, page.header.ano_inicial) %}    	
	    		{% if i == yearURLparam  %}		
					{{ _self.createSelectEntry("true", i) }}
				{% else %}	
					{{ _self.createSelectEntry("false", i) }}
				{% endif %}
			{% endfor %}
		</select>

		{% set counter = 0 %}	
		
		{% for item in collection %}	    
			{% if item.date|date("Y") == yearURLparam or yearURLparam == "ALL"%}
			    {% set counter = counter + 1 %}
		    {% endif %}
		{% endfor %} 

		{% if counter == 0 %}
	    	<h4>No results found for that year</h4>
		{% else %}	
			{% for item in collection %}	
			    {% if item.date|date("Y") == yearURLparam or yearURLparam == "ALL"%}
				    <div class="exhibition-item">
				    	<hr>
				    	{% set img = item.media.images|first.cropZoom(300,300) %}	
				    	<h4 class="title">{{ item.title }}</h4>
					    {% if img %}
						    <div class="image">
						    	<a href="{{ item.url }}">
						        	{{ img.html }}
						        </a>
						    </div>
					    {% endif %}
						<div class="text">
							{% if item.date %}
					        	<p class="date">{{ item.date|date("d/M/Y") }}</p>
					        {% endif %}
					        <p class="summary">{{ item.content|truncate(350) }}</p>
					        <p class="continue"><a href="{{ item.url }}">Continue Reading...</a></p>
						</div>
					</div>
		    	{% endif %}
		    {% endfor %}
		{% endif %}
	</div>
	{% endblock %}
{% endembed %}

{# {% include 'partials/pagination.html.twig' with {'pagination':collection.params.pagination} %} #}
