{% embed 'partials/base.html.twig' %}
	
	{% set collection = page.collection() %}

	{% block content %}		



	<div class="page-exhibitions">
		<div class="intro">
		<p>{{ page.header.title }}</p>
		{% set yearURLparam = uri.query('year') %}

		{% if not yearURLparam %}
			{% set yearURLparam = "ALL" %}
		{% endif %}
		
		{# <label for="year">YEAR:</label> #}

		{% if yearURLparam  == "ALL" %}	
			<a class="selected" href="{{ uri.path }}">All</a>
		{% else %}	
			<a href="{{ uri.path }}">All</a>
		{% endif %}

		{% for ano in page.header.anos %}    	
    		{% if ano == yearURLparam  %}	
    			<a class="selected" href="#">{{ ano }}</a>	
			{% else %}	
				<a href="{{ uri.path }}?year={{ ano }}">{{ ano }}</a>	
			{% endif %}
		{% endfor %}
	
		{% set counter = 0 %}	
		
		{% for item in collection %}	    
			{% if item.date|date("Y") == yearURLparam or yearURLparam == "ALL"%}
			    {% set counter = counter + 1 %}
		    {% endif %}
		{% endfor %} 

		</div>
		
		{% if counter == 0 %}
	    	<h4>No results found for that year</h4>
		{% else %}	
			{% for item in collection %}	
			    {% if item.date|date("Y") == yearURLparam or yearURLparam == "ALL"%}
				    <div class="exhibition-item">
				    	{% set img = item.media.images|first.resize(300) %}	
				    	<h5 class="title">{{ item.title }}</h5>
					    {% if img %}
						    <div class="image">
						    	<a href="{{ item.url }}">
						        	{{ img.html }}
						        </a>
						    </div>
					    {% endif %}
						<div class="text">
							{% if item.date %}
					        	<p class="date">{{ item.date|date("d/M/Y") }}</p>
					        {% endif %}
					        <p class="summary">{{ item.header.resumo }}</p>
					        <p class="continue"><a href="{{ item.url }}">Continue Reading...</a></p>
						</div>
					</div>
		    	{% endif %}
		    {% endfor %}
		{% endif %}
	</div>
	{% endblock %}
{% endembed %}

{# {% include 'partials/pagination.html.twig' with {'pagination':collection.params.pagination} %} #}
