{% extends 'partials/base.html.twig' %}

{% block content %}	
	{# {% set img = random(page.media.images) %} #}
	{% set img = page.media.images|first %}

	
	<style type="text/css">
		#supersized {
		    position: fixed;
		    left: 0;
		    top: 0;
		    overflow: hidden;
		    z-index: -999;
		    height: 100%;
		    width: 100%;
		}

		#supersized img {
		    width: auto;
		    height: auto;
		    position: relative;
		    outline: none;
		    border: none;
		}
	</style>

	<section class="page-home">
		<script type="text/javascript">
		window.home_page_img = "{{ img.url }}";
		</script>
		{# <img class="hero" src="{{ img.url }}" alt=""> #}
    	{# <img id="bg" src="{{ img.url }}" alt=""> #}

	{# 	{% if page.header.noticia.mostra_noticia %}
			<div class="news">
				<h4>{{ page.header.noticia.texto1 }}</h4>       
				<p>{{ page.header.noticia.texto2 }}</p>       
				{% if page.header.noticia.link_para_mais_info %}
					<a target="_blank" href="{{ page.header.noticia.link_para_mais_info }}">More info</a>
			    {% endif %}
			</div>
	    {% endif %} #}
	    
		{# {{ page.content }} #}
	</section>
	
{% endblock %}