{% extends 'partials/base.html.twig' %}

{% block content %}	
	{% set img = random(page.media.images) %}
	{# {% set img = page.media.images|first %} #}


	<section class="page-home">		
		<img class="hero" src="{{ img.url }}" alt="">
    	{# <img id="bg" src="{{ img.url }}" alt=""> #}

	{# 	{% if page.header.noticia.mostra_noticia %}
			<div class="news">
				<h4>{{ page.header.noticia.texto1 }}</h4>       
				<p>{{ page.header.noticia.texto2 }}</p>       
				{% if page.header.noticia.link_para_mais_info %}
					<a target="_blank" href="{{ page.header.noticia.link_para_mais_info }}">More info</a>
			    {% endif %}
			</div>
	    {% endif %} #}
	    
		{# {{ page.content }} #}
	</section>
	
{% endblock %}