<!DOCTYPE html>
<!-- 
   Hi, you're looking at a web page built with love by:

   Ricardo

  /$$$$$$            /$$             /$$                        
 /$$__  $$          |__/            | $$                        
| $$  \ $$ /$$   /$$ /$$ /$$$$$$$  /$$$$$$    /$$$$$$   /$$$$$$$
| $$  | $$| $$  | $$| $$| $$__  $$|_  $$_/   |____  $$ /$$_____/
| $$  | $$| $$  | $$| $$| $$  \ $$  | $$      /$$$$$$$|  $$$$$$ 
| $$/$$ $$| $$  | $$| $$| $$  | $$  | $$ /$$ /$$__  $$ \____  $$
|  $$$$$$/|  $$$$$$/| $$| $$  | $$  |  $$$$/|  $$$$$$$ /$$$$$$$/
 \____ $$$ \______/ |__/|__/  |__/   \___/   \_______/|_______/ 
      \__/                                                                      

   ricardoquintas.com   
   June/2015 
-->
<html lang="en">
<head>
{% block head %}
    <meta charset="utf-8" />
    <title>{% if header.title %}{{ header.title }} | {% endif %}{{ site.title }}</title>
    {% include 'partials/metadata.html.twig' %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel="icon" type="image/png" href="{{ theme_url }}/images/favicon.png" />

    {% block stylesheets %}
        {% do assets.addCss('theme://css/app.dist.css',100) %}
    {% endblock %}
    {{ assets.css() }}

    {% do assets.addJs('theme://js/modernizr.custom.31616.js', 100) %}
    {{ assets.js() }} 
    <script type="text/javascript">
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-56535261-4', 'auto');
      ga('send', 'pageview');
    </script>
{% endblock head%}
</head>

<body>
   <!--[if lte IE 9]>
    <div class="browserupdate">
        You are using an obsolete browser which can harm your experience and cause security troubles.
        <br> Please <a href="http://browsehappy.com/" target="_blank">update your browser!</a>
    </div>
  <![endif]-->
    <noscript>
        <div class="browserupdate">
            Oh, no! You don't have JavaScript enabled on your browser!
            <br> This website only works with JavaScript. Sorry.
        </div>
    </noscript>
    
    <div id="sb-site">
      <i class="sb-toggle-left fa fa-bars"></i>
      {% block header %}
      <header class="header">
              <a class="burger-icon" href="#">
                  <img src="{{ theme_url }}/images/burguer.png">
              </a>        
              <div class="logo">
                  {# <img src="{{ theme_url }}/images/camarao.jpg"> #}
                  <a href="/">{{ config.site.title }}</a>
              </div>
              <nav id="original-menu" class="navigation-menu">
                  {% include 'partials/navigation.html.twig' with {"withSuperFish": "true"} %}
              </nav>
      </header>
      {% endblock %}
      <div class="container">
          {% block body %}
              {% block content %}{% endblock %}        
       {#        {% block footer %}
              {% include 'partials/footer.html.twig' %}
              {% endblock %} #}
          {% endblock %}
      </div>
    </div>
{#     <nav id="mobile-menu" class="">
      {% include 'partials/navigation.html.twig' with {"withSuperFish": "false"} %}
    </nav> #}
    <section id="nav-menu-mobile" class="sb-slidebar sb-left">
        <!-- Here will be the mobile nav menu. jQuery will copy menu entries here.  -->
    </section>
    {% block javascripts %}
        {% do assets.add('jquery', 101) %}
        {% do assets.addJs('theme://js/libs.dist.js', 100) %}
        {% do assets.addJs('theme://js/app.dist.js') %}
    {% endblock %}
    {{ assets.js() }}
</body>
</html>
