<div class="exhibition-item">
    <div class="image">
        {{ page.media.images|first.cropZoom(300,300).html }}
    </div>
    <div class="text">
        <p class="title">{{ page.title }}</p>
        <p class="date">{{ page.date|date("d/M/Y") }}</p>
        <p class="summary">{{ page.content|truncate(350) }}</p>
        <p class="continue"><a href="{{ page.url }}">Continue Reading...</a></p>
    </div>
</div>
